{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>METANIT.COM</title>
    <link rel="stylesheet" href="{% static 'core/css/estyle.css' %}">
</head>
<body>
    <a href='/'>Вернуться</a>
    <h5>Редактирование заказа</h5>
    <form method="POST">
        {% csrf_token %}
          <tr>
            <td>
              <input type="text" name="name" placeholder="Имя клиента" />
            </td>
            <td>
              <input type="text" name="address" placeholder="Адрес" />
            </td>
            <td>
              <input type="text" name="employee" placeholder="Сотрудник" />
            </td>
            <td>
                  <select name="equipment" class="spisok">
                    <option>Оборудование</option>
                    <option>Низкотемпературная с/c (моноблок)</option>
                    <option>Среднетемпературная с/ c(моноблок)</option>
                    <option>Линия начинения</option>
                    <option>Стол холодильный</option>
                    <option>Стол морозильный</option>
                    <option>Шкаф холодильный</option>
                    <option>Шкаф морозильный</option>
                    <option>Витрина холодильная</option>
                    <option>Горка холодильная</option>
                    <option>Ларь морозильный</option>
                    <option>Камера холодильная</option>
                    <option>Камера холодильная</option>
                    <option>Лёдогенератор</option>
                    <option>Холодильник кофемашины</option>
                    <option>Кондиционер настенный</option>
                    <option>Кондиционер кассетный</option>
                    <option>Кондиционер иное</option>
                    <option>Ларь морозильный</option>
                    <option>Вытяжка</option>
                    <option>Иное</option>
                  </select>
            </td>
            <td>
                  <select name="breaking" class="spisok">
                    <option>Поломка</option>
                    <option>Высокая температура</option>
                    <option>Выдает ошибку</option>
                    <option>Течет вода</option>
                    <option>Посторонний шум</option>
                    <option>Моргает контроллер</option>
                    <option>Не(плохо) открывается дверь</option>
                    <option>Порван уплотнитель</option>
                    <option>Отвалилась дверь</option>
                    <option>Требуется ТО</option>
                    <option>Замена ручки</option>
                    <option>Нужна шторка</option>
                    <option>Не горит свет</option>
                    <option>Перемерзает</option>
                    <option>Образовался лёд</option>
                    <option>Не включается</option>
                    <option>Не работает</option>
                    <option>Проводка</option>
                    <option>Жалоба РПН</option>
                    <option>Выбивает автомат</option>
                    <option>Иное</option>
                  </select>
            </td>
            <td>
                  <select name="status" class="spisok">
                    <option>Статус</option>
                    <option>Выполнен</option>
                    <option>В обработке</option>
                  </select>
                   <td>
                    <input type="date" name="date" placeholder="Дата" />
                  </td>
                  <td>
                    <input type="text" name="note" placeholder="Примечания" />
                  </td>
                <input type="submit" value="Сохранить" class="butt" />
              </form>
            </td>
          </tr>
    </form>
</body>
</html>