{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>ДОКТОР ХОЛОДА</title>
    <link rel="icon" href="https://img.hhcdn.ru/employer-logo/4078732.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="{% static 'core/css/estyle.css' %}">
</head>
<body>
    <a href='/'>Вернуться</a>
    <h5>Редактирование заказа</h5>
    <form method="POST">
      {% csrf_token %}
      <tr>
        <td>
          <input type="text" name="name" placeholder="Имя клиента" value="{{info.name}}"/>
        </td>
        <td>
          <input type="text" name="address" placeholder="Адрес" value="{{info.address}}"/>
        </td>
        <td>
          <input type="text" name="employee" placeholder="Сотрудник" value="{{info.employee}}"/>
        </td>
        <td>
            <input type="text" name="master" placeholder="Мастер" value="{{info.master}}"/>
        </td>
        <td>
            <input type="text" name="equipment" list="equipment" placeholder="Оборудование" value="{{info.equipment}}"/>
            <datalist id="equipment">
                <option value="Стол холодильный">
                <option value="Стол морозильный">
                <option value="Низкотемпературная с/с (моноблок)">
                <option value="Среднетемпературнаяс с/с (моноблок)">
                <option value="Линия начинения">
                <option value="Стол морозильный">
                <option value="Шкаф холодильный">
                <option value="Шкаф морозильный">
                <option value="Витрина холодильная">
                <option value="Горка холодильная">
                <option value="Ларь морозильный">
                <option value="Камера холодильная">
                <option value="Лёдогенератор">
                <option value="Холодильник кофемашины">
                <option value="Кондиционер настенный">
                <option value="Кондиционер кассетный">
                <option value="Кондиционер иное">
                <option value="Вытяжка">                             
            </datalist>
        </td>
        <td>
            <input type="text" name="breaking" list="breaking" placeholder="Поломка" value="{{info.breaking}}"/>
            <datalist id="breaking">
                <option value="Поломка">
                <option value="Высокая температура">
                <option value="Выдает ошибку">
                <option value="Течет вода">
                <option value="Посторонний шум">
                <option value="Моргает контроллер">
                <option value="Не(плохо) открывается дверь">
                <option value="Порван уплотнитель">
                <option value="Отвалилась дверь">
                <option value="Требуется ТО">
                <option value="Замена ручки">
                <option value="Нужна шторка">
                <option value="Не горит свет">
                <option value="Перемерзает">
                <option value="Образовался лёд">
                <option value="Не включается">
                <option value="Не работает">
                <option value="Проводка">
                <option value="Жалоба РПН">
                <option value="Выбивает автомат">
            </datalist>
        </td>
        <td>
            <input type="text" name="status" list="status" placeholder="Статус" value="{{info.status}}"/>
            <datalist id="status">
                <option value="В обработке">
                <option value="Выполнен">
            </datalist>
               <td>
                <input type="date" name="date" placeholder="Дата" />
               </td>
               <td>
                <input type="text" name="note" placeholder="Примечания" value="{{info.note}}"/>
               </td>
               <td>
                <input type="submit" value="Сохранить" class="butt" />
               </td>
        </td>
      </tr>
    </form>
</body>
</html>