{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://img.hhcdn.ru/employer-logo/4078732.jpeg" type="image/x-icon"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'core/css/hstyle.css' %}">
    <title>ДОКТОР ХОЛОДА</title>
</head>     
    <body>
        <aside>
            <div class="page-logo"><img src="static/core/images/logo1.png" alt="ДОКТОР ХОЛОДА" >
                <ul>
                    <a href="/logout" class="btn btn-warning">Выйти</a> 
                </ul>
            </div>
            {%  if user.is_superuser %}
            <ul><a href="/admin" class="btn btn-warning">Администрирование</a></ul>
            {% endif %}
            <div class="fio-on-page"> {{user.fio}} </div>
            {% if perms.core.can_add_order %}
            <div class="title-add">
                <form method="POST" action="create/">
                  {% csrf_token %}
                  <tr>
                    <td>
                      <input type="text" name="name" placeholder="Имя клиента" />
                    </td>
                    <td>
                      <input type="text" name="address" placeholder="Адрес" />
                    </td>
                    <td>
                      <input type="text" name="employee" placeholder="Сотрудник" />
                    </td>
                    <td>
                        <input type="text" name="example" list="exampleList" placeholder="Оборудование">
                        <datalist id="exampleList">
                            <option value="Стол холодильный">
                            <option value="Стол морозильный">
                            <option value="Низкотемпературная с/с (моноблок)">
                            <option value="Среднетемпературнаяс с/с (моноблок)">
                            <option value="Линия начинения">
                            <option value="Стол морозильный">
                            <option value="Шкаф холодильный">
                            <option value="Шкаф морозильный">
                            <option value="Витрина холодильная">
                            <option value="Горка холодильная">
                            <option value="Ларь морозильный">
                            <option value="Камера холодильная">
                            <option value="Лёдогенератор">
                            <option value="Холодильник кофемашины">
                            <option value="Кондиционер настенный">
                            <option value="Кондиционер кассетный">
                            <option value="Кондиционер иное">
                            <option value="Вытяжка">                             
                        </datalist>
                    </td>
                    <td>
                        <input type="text" name="example1" list="polomka" placeholder="Поломка">
                        <datalist id="polomka">
                            <option value="Поломка">
                            <option value="Высокая температура">
                            <option value="Выдает ошибку">
                            <option value="Течет вода">
                            <option value="Посторонний шум">
                            <option value="Моргает контроллер">
                            <option value="Не(плохо) открывается дверь">
                            <option value="Порван уплотнитель">
                            <option value="Отвалилась дверь">
                            <option value="Требуется ТО">
                            <option value="Замена ручки">
                            <option value="Нужна шторка">
                            <option value="Не горит свет">
                            <option value="Перемерзает">
                            <option value="Образовался лёд">
                            <option value="Не включается">
                            <option value="Не работает">
                            <option value="Проводка">
                            <option value="Жалоба РПН">
                            <option value="Выбивает автомат">
                        </datalist>
                    </td>
                    <td>
                        <input type="text" name="example2" list="status" placeholder="Статус">
                        <datalist id="status">
                            <option value="В обработке">
                            <option value="Выполнен">
                        </datalist>
                           <td>
                            <input type="date" name="date" placeholder="Дата" />
                          </td>
                          <td>
                            <input type="text" name="note" placeholder="Примечания" />
                          </td>
                        <input type="submit" value="Добавить" class="butt" />
                      </form>
                    </td>
                  </tr>
                </form>
            </div>
            {% endif %}
        </aside>
        <main>
            <div class="table-form">
                
                {% if info.count > 0 %}
                <table>
                    <thead class="alert alert-warning"><th>Имя</th><th>Адрес</th>
                    <th>Сотрудник</th><th>Оборудование</th><th>Поломка</th>
                    <th>Статус</th><th>Дата</th><th>Примечания</th><th></th></thead>
                    {% for inf in info %}
                    <tr class="alert alert-warning">
                        <td>{{ inf.name }}</td><td>{{ inf.address }}</td>
                        <td>{{ inf.employee }}</td><td>{{ inf.equipment }}</td>
                        <td>{{ inf.breaking }}</td><td>{{ inf.status }}</td>
                        <td>{{ inf.date }}</td><td>{{ inf.note }}</td>
                        {% if perms.core.can_edit_order %}
                        <td><a href="edit/{{inf.id}}" class="redacte">Изменить</a>                    
                            <a href="delete/{{inf.id}}" class="redactd">Удалить</a></td>
                        {% endif %}
                    </tr>
                    {% endfor %}
                </table>
                {% endif %}
            </div>
        </main>
        <!--<div id="popup_red" class="popup">
            <div class="popup_body">
                <div class="popup_content">
                    <a href="" class="popup_close">&times;</a> 
                    <div class="popup_title">Редактирование</div> 
                    <div class="popup_action">
                        <form method="POST" action="#popup_red/{{inf.id}}">
                            {% csrf_token %}
                            <p>
                                <input type="text" name="name" value="{{inf.name}}" placeholder="Имя клиента"/>
                            </p> <p>
                                <input type="text" name="address" value="{{inf.address}}" placeholder="Адрес"/>
                            </p> <p>
                                <input type="text" name="employee" value="{{inf.employee}}" placeholder="Сотрудник"/>
                            </p><p>
                                <input type="text" name="equipment" value="{{inf.equipment}}" placeholder="Оборудование"/>
                            </p> <p>
                                <input type="text" name="breaking" value="{{inf.breaking}}" placeholder="Поломка"/>
                            </p><p>
                                <input type="text" name="status" value="{{inf.status}}" placeholder="Статус"/>
                            </p><p>
                                <input type="date" name="date" value="{{inf.date}}" placeholder="Дата"/>
                            </p><p>
                                <input type="text" name="note" value="{{inf.note}}" placeholder="Примечания"/>
                            </p>
                            <a type="submit" href="{{inf.id}}" class="butt">Сохранить</a>
                        </form>
                    </div>
                </div>
            </div>
        </div>-->
    </body>
</html>
