@use "../../_colors.scss" as *;

.checkpoints {
    position: relative;
    width: 100vw;
    height: 45vh;
    padding-bottom: 10vh;
    background: $main-background-color;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container {
        width: 90%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .chechpoint {
            // width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .number {
                // font-size: 110px;
                font-size: 15dvh;
                // font-weight: bold;
                // color: $main-text-color;
                background-image: $important-text-gradient-color;
                color: transparent;
                background-clip: text;
            }
            .about {
                // font-size: 20px;
                font-size: 2.7dvh;
                color: $main-text-color;
            }
        }
    }
}