@use "../../_colors.scss" as *;

.checkpoints {
    position: relative;
    width: 100vw;
    height: 40vh;
    padding-bottom: 10vh;
    background: $header-background-color;
    // box-shadow: 0 0 3px $gray-text-color;
    box-shadow: 0 0 10px $header-background-color;
    z-index: 2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .chechpoint {
            // width: 25%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            .number {
                font-size: 80px;
                // font-weight: bold;
                color: $main-text-color;
            }
            .about {
                font-size: 20px;
                color: $main-text-color;
            }
        }
    }
}