
$main-background-color: #0000008f;
$main-foreground-color: #ffffff;


$header-background-color2: #000000e8;
$header-background-color: #00000077;
$footer-background-color: $main-background-color;

$main-text-color: white;
$gray-text-color: #acacac;


$important-text-color2: rgb(0, 162, 255);
$important-text-color: rgb(0, 255, 200);
$important-text-gradient-color: linear-gradient(130deg, $important-text-color 0%, $important-text-color2 100%);
$important-text-shadow-color: $important-text-color;
$important-text-shadow-color2: $important-text-color2;

$vanta-background-color: #11071f;

$intro-gradient-background-color: linear-gradient(60deg, $main-background-color 0% 10%, rgba(0,0,0,0) 30% 35%, $main-background-color 55% 100%);
// $intro-gradient-background-color: linear-gradient(60deg, $important-text-color 0%, $important-text-color2 3%, $main-background-color 5% 10%, rgba(0,0,0,0) 30% 35%, $main-background-color 55% 95%, $important-text-color2 98%, $important-text-color 100%);
