@use "./_colors.scss" as *;

@font-face {
  font-family: 'Font1';
  font-style: bold;
  font-weight: 700;
  src: url(/public/notdef.woff2) format('woff');
}



:root {
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  // font-family: 'Font1', sans-serif;
  // font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
  // font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; 
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;

  // overscroll-behavior-y:none;
  background-color: $main-background-color;

  /* font-size: 16px; */

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  overflow-x: hidden;

  // scroll-behavior: smooth;
  
}

#vanta-anchor {
  // filter: brightness(0.88);
  filter: brightness(0.33);
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


::-moz-selection { /* Code for Firefox */
  color: black;
  background: $main-text-color;
  // text-shadow: 0 0 10px $header-background-color;
}
::selection {
  color: black;
  background: $main-text-color;
  // text-shadow: 0 0 10px $header-background-color;
}
