@use "../../_colors.scss" as *;

.services-list {
    position: relative;
    display: block;
    width: 100vw;
    height: 120vh;
    background: $main-background-color;
    box-shadow: 0 0 3px $gray-text-color;
    overflow: hidden;
    .title {
        margin-left: 5%;
        font-size: 30px;
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        transition: all 0.3s ease;
        .service-names-container {
            min-width: 30%;
            height: 100%;
            .service-names {
                width: 80%;
                margin-left: 20%;
            }
            
        }
        input {
            width: auto;
            height: 40px;
            font-size: 20px;
            background-color: $main-background-color;
            border: none;
            // border-radius: 1px;
            border-bottom: 1px solid $main-background-color;
            transition: all 0.3s ease;
        }
        input:hover {
            outline: none;
            border-bottom: 1px solid $main-text-color;
            text-shadow: 0 0 5px $main-text-color;
        }

        .service-description-container {
            width: 70%;
            height: 100%;
            transition: all 0.5s ease;
            .service-description {
                width: 100%;
                height: 100%;
                // display: grid;
                .service-name {
                    width: 100%;
                    height: 5%;
                    text-align: center;
                    h3 {
                        margin-right: 30%;
                        font-size: 35px;
                        transition: all 0.3s ease;
                    }
                }
                .options-container {
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 75px;
                    text-overflow: ellipsis;
                    transition: all 0.3s ease;
                    .option {
                        margin: 0;
                        padding: 0;
                        width: 40%;
                        max-height: 25vh;
                        overflow:hidden;
                        word-wrap: break-word;
                        a {
                            color: $main-text-color;
                            text-overflow: ellipsis;
                            transition: all 0.3s ease;
                            h4 {
                                font-size: 22px;
                            }
                            span {
                                max-height: 100px;
                                transition: all 0.3s ease;
                            }
                            &:hover {
                                // color: $header-background-color;
                                text-shadow: 0 0 5px $main-text-color;
                                // text-shadow: 0 0 5px blue;
                            }
                        }
                    }
                }
            }
        }
    }
}