@use "../../_colors.scss" as *;
@use "../../_dimensions.scss" as *;

.sticky {
    margin-top: 0;
    border-top: none;

    height: $header-height;

    background-color: $header-background-color;
    box-shadow: 0 0 $header-box-shadow-size $main-text-color;
    // box-shadow: 0 0 $header-box-shadow-size $main-text-color, 0 0 5dvh black, 0 0 10dvh $main-background-color;

    backdrop-filter: blur($font1-del-2);
}
        
header{
    z-index: 10;
    left: 0;
    position: fixed;
    width: 100%;
    height: $header-height;
    font-size: $header-font-size;
    margin-top: $header-margin-top-default;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: $main-text-color;
    transition: all 0.33s ease;
    .logo{
        margin-left: $header-margin-left-right;
        align-items: center;
        display: flex;
        width: 30%;
        img {
            height: 5vh;
            filter: hue-rotate($icons-hue-rotate - 30deg);
        }
        h2 {
            margin-left: $header-logo-letter-spacing;
            letter-spacing: $header-logo-letter-spacing;;
        }
        :hover {
            cursor: pointer;
            transition: all 0.2s ease;
        }
    }
    .navigation{
        // margin-right: $header-margin-left-right;
        display: flex;
        justify-content: space-around;
        width: 30%;
        // padding: 0 10%   ;
        text-align: center;
        align-items: center;
        font-size: $font1h / 1.2;
        font-weight: bold;
        a {
            position: relative;
            color: $main-text-color;
            transition: all 0.2s ease;
            padding: 0 $padding-header-button-l-r $padding-header-button-bottom $padding-header-button-l-r;
        }
        a::after {
            content: "";
            position: absolute;
            background-image: $important-text-gradient-color;
            width: 100%;
            left: 0;
            bottom: 0;
            height: $header-contact-us-border-height;
            transition: all 0.3s ease;
            transform: scaleX(0);
            // transform-origin: left;
        }
        a:hover::after {
            transform: scaleX(1);
        }
        :hover {
            cursor: pointer;
            text-shadow: 0px 0px $padding-header-button-bottom $main-text-color;
        }
        
    }
}
.contacts {
    margin-right: $header-margin-left-right;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    a {
        position: relative;
        color: $main-text-color;
        transition: all 0.2s ease;
        padding: 0 $padding-header-button-l-r $padding-header-button-bottom $padding-header-button-l-r;
    }
    .lng {
        font-size: $font1h / 1.4;
        font-weight: bold;
        // color: $important-text-color;
        color: $main-text-color;
        margin-right: $font1h / 2;
        display: flex;
        align-items: center;
        &:hover {
            color: $important-text-color;
            // text-shadow: 0 0 $font1h / 5 $main-text-color;
            transition: all 0.3s ease;
        }
    }
    .contact-us-btn-1 {
        border-image: $important-text-gradient-color 1;
        border-width: 1px;
        border-style: solid;
        &:hover {
            color: black;
            background-color: $main-text-color;
            box-shadow: 0 0 $font1-del-2 $main-text-color;
        }
    }
}
