@use "../../_colors.scss" as *;
@use "../../_dimensions.scss" as *;

.sticky {
    // margin-top: 0;
    // border-top: none;
    // height: $header-height;
    // background-color: $header-background-color;
    // box-shadow: 0 0 $header-box-shadow-size $main-text-color;
    // backdrop-filter: blur($font1-del-2);

    margin-top: $font1h;
    border-top: none;
    height: $header-height;
    z-index: 10;
    transition: all 0.3s ease;
    
    .navigation {
        position: relative;
        background: black;
        padding: 0 $font1 0 $font1;
        border-radius: .5dvw;
        height: $header-height;
    }
    
    .navigation:before,
    .navigation:after {
        content: "";
        opacity: .2;
        position: absolute;
        // background: var(--gradient-shadow);
        background: var(--gradient-shadow);

        background-size: 400%;
        z-index: -1;
        left: 0;
        width: 100%;
        height: 100%;
        // height: calc($header-height / 2);
        border-radius: .5dvw;
        animation: animate 45s linear infinite;

        opacity: 0;
    }
    .navigation:after {
        filter: blur(5px);
        opacity: .5;    
    }
    
    .logo, .contacts {
        opacity: 0;

    }
    .logo::before {
        z-index: -1;
        content: "";
        width: 20vw;
        height: $header-height;
        position: absolute;
        left: 0;
        top: 0;
        border-bottom-right-radius: .5dvw;
        // background-color: $main-background-color;
        backdrop-filter: blur($font1-del-4);
        // box-shadow: 0 0 $header-box-shadow-size $main-text-color;
    }
    .contacts::before {
        z-index: -1;
        content: "";
        width: 20vw;
        height: $header-height;
        position: absolute;
        right: 0;
        top: 0;
        border-bottom-left-radius: .5dvw;
        // background-color: $main-background-color;
        backdrop-filter: blur($font1-del-4);
        // box-shadow: 0 0 $header-box-shadow-size $main-text-color;
    }
}
        
header{
    z-index: 10;
    left: 0;
    position: fixed;

    // position: sticky;
    // top:0;
    
    width: 100%;
    height: $header-height;
    font-size: $header-font-size;
    margin-top: $header-margin-top-default;
    
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    color: $main-text-color;
    transition: all 0.33s ease;
    .logo{
        margin-left: $header-margin-left-right;
        align-items: center;
        display: flex;
        width: 30%;
        height: 10vh;
        transition: all 0.3s ease;
        img {
            height: 5vh;
            filter: hue-rotate($icons-hue-rotate - 40deg);
        }
        div {
            margin-left: $header-logo-letter-spacing;
            letter-spacing: $header-logo-letter-spacing;

            font-size: calc($font1h * 1.5);
            font-weight: 500;
        }
        :hover {
            cursor: pointer;
            transition: all 0.2s ease;
        }
    }
    .navigation{
        display: flex;
        // justify-content: space-around;
        // width: 30%;
        text-align: center;
        align-items: center;
        font-size: calc($font1h / 1.2);
        // font-weight: bold;
        transition: all 0.3s ease;
        a {
            margin-left: $font1;
            position: relative;
            color: $main-text-color;
            transition: all 0.2s ease;
            padding: 0 $padding-header-button-l-r $padding-header-button-bottom $padding-header-button-l-r;
        }
        a:nth-child(-n + 1) {
            margin-left: 0;
        }
        a::after {
            content: "";
            position: absolute;
            background-image: $important-text-gradient-color;
            width: 100%;
            left: 0;
            bottom: 0;
            height: $header-contact-us-border-height;
            transition: all 0.3s ease;
            transform: scaleX(0);
            // transform-origin: left;

            // background-image: $transparent-color;
            // height: 5px;
            box-shadow: 0 0 3px $important-text-color2;
        }
        a:hover::after {
            transform: scaleX(1);
        }
        :hover {
            cursor: pointer;
            // color: $important-text-color;
            // text-shadow: 0px 0px $padding-header-button-bottom $main-text-color;
        }
        
    }
}
.contacts {
    margin-right: $header-margin-left-right;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: right;
    transition: all 0.3s ease;
    a {
        position: relative;
        color: $main-text-color;
        transition: all 0.2s ease;
        padding: 0 $padding-header-button-l-r $padding-header-button-bottom $padding-header-button-l-r;
    }
    .lng {
        font-size: calc($font1h / 1.4);
        // font-weight: bold;
        // color: $important-text-color;
        color: $main-text-color;
        margin-right: calc($font1h / 2);
        display: flex;
        align-items: center;
        font-size: calc($font1h / 1.2);
        &:hover {
            color: $important-text-color;
            // text-shadow: 0 0 $font1h / 5 $main-text-color;
            transition: all 0.3s ease;
        }
    }
    .contact-us-btn-1 {
        border-image: $important-text-gradient-color 1;
        border-width: 1px;
        border-style: solid;
        cursor: pointer;
        &:hover {
            color: black;
            background-color: $main-text-color;
            box-shadow: 0 0 $font1-del-2 $main-text-color;
        }
    }
}

@keyframes animate {
	0% {
		background-position: 0 0;
	}
	50% {
		background-position: 300% 0;
	}
	100% {
		background-position: 0 0;
	}
}

@keyframes appearence {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}