@use "../../_colors.scss" as *;

.intro-image {
    background: $intro-gradient-background-color;
    position: relative;
    // padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    // background-color: $main-background-color;
}
.text-container {
    color: $main-text-color;
    width:70%;
    margin-top: 30vh;
    text-align: left;
    font-size: 55px;
    font-weight: 300px;
    word-spacing: 10px;
    line-height: 70px;
    margin-left: 90px;
    // text-shadow: 0 0 5px $main-text-color;
    .span-1 {
        font-size: 70px;
    }
    .span-2 {
        margin-top: 20px;
        // padding-top: 100px;
        font-size: 60px;
    }
    .improve {
        // color: $important-text-color;
        // text-shadow: 0 0 5px $important-text-color2;
        font-weight: 500;
        background-image: $important-text-gradient-color;
        color: transparent;
        background-clip: text;
    }
}
.right-part{
    width: 40%  ;
}
.VideoTag {
    display: none;
    position:absolute;
    bottom: 15vh;
    right: 10vw;
    width: 500px;
    height: 300px;
    object-fit: cover;
    background: $main-background-color;
    border-radius: 1px;
    height: 140px;
    margin-top: 50px;
    transition: all 0.3s ease;
    // box-shadow: 0 0 10px $gray-text-color;
    box-shadow: 0 0 10px $header-background-color;
    // border: 1px solid white;
}
.lets-talk {
    margin-top: 60vh;
    margin-left: 50px;
    // width: 200px; 
    a {
        // background: transparent;
        box-shadow: 0px 0px 10px $main-text-color, inset 0 0 10px $main-text-color;
        // box-shadow: 0px 0px 10px $important-text-color, inset 0 0 30px $important-text-color2;
        border-radius: 200px;
        text-shadow: 0px 0px 5px $main-text-color;
        color: $main-text-color;
        padding: 60px 30px 60px 30px;
        margin-left: 50px;
        font-size: 20px;
        transition: all 0.3s ease;
        animation-name: blinking;
        animation-duration: 1.5s;
        animation-iteration-count: infinite;
        // filter: blur(1px);
    }
    :hover {
        background-color: $main-text-color;
        color: black;
        cursor: pointer;
        animation-name: blinking-2;
        // background-image: $important-text-gradient-color;
        filter: brightness(0.3);
        filter:blur(0px);
        color: black;
    }
}
@keyframes blinking {
    0% {
        padding: 60px 30px 60px 30px;
        margin-left: 50px;
        background: transparent;
    }

    50% {
        // padding: 65px 35px 65px 35px;
        // margin-left: 40px;
        // box-shadow: 0px 0px 30px opasify($main-text-color, 0.3), inset 0 0 3px opasify($main-text-color, 0.3);
        box-shadow: 0px 0px 50px $important-text-color2, inset 0 0 25px $important-text-color;
    }
  
    100% {
        padding: 60px 30px 60px 30px;
        margin-left: 50px;
        background: transparent;
    }
}
@keyframes blinking-2 {
0% {
    padding: 60px 30px 60px 30px;
    margin-left: 50px;
}

50% {
    padding: 57px 27px 57px 27px;
    margin-left: 53px;
    box-shadow: 0px 0px 35px $main-text-color;
    // box-shadow: 0px 0px 30px $important-text-color2, inset 0 0 30px $important-text-color;
}

100% {
    padding: 60px 30px 60px 30px;
    margin-left: 50px;
}
}