@use "../../_colors.scss" as *;

.intro-image {
    position: relative;
    // padding-top: 100px;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    // background-color: $main-background-color;
}
.text-container {
    width:60%;
    margin-top: 30vh;
    text-align: left;
    font-size: 50px;
    font-weight: 300px;
    word-spacing: 10px;
    line-height: 70px;
    margin-left: 90px;
    text-shadow: 0 0 5px $main-text-color;
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 20px;
    }
}
.right-part{
    width: 40%  ;
}
.VideoTag {
    position:absolute;
    bottom: 15vh;
    right: 10vw;
    width: 500px;
    height: 300px;
    object-fit: cover;
    background: $main-background-color;
    border-radius: 1px;
    height: 140px;
    margin-top: 50px;
    transition: all 0.3s ease;
    // box-shadow: 0 0 10px $gray-text-color;
    box-shadow: 0 0 10px $header-background-color;
    // border: 1px solid white;
}
.lets-talk {
    margin-top: 40vh;
    margin-left: 50px;
    width: 200px; 
    a {
        background: transparent;
        box-shadow: 0px 0px 10px $main-text-color;
        text-shadow: 0 0 10px $main-text-color;
        border-radius: 200px;
        color: $main-text-color;
        padding: 60px 30px 60px 30px;
        margin-left: 50px;
        font-size: 20px;
        transition: all 0.3s ease;
        animation-name: blinking;
        animation-duration: 1s;
        animation-iteration-count: infinite;
    }
    :hover {
        background-color: $main-text-color;
        color: $header-background-color;
        cursor: pointer;
        animation-name: blinking-2;
    }
}
@keyframes blinking {
    0% {
        padding: 60px 30px 60px 30px;
        margin-left: 50px;
        background: transparent;
    }

    50% {
        padding: 57px 27px 57px 27px;
        margin-left: 53px;
        // background: $main-text-color;
        // color: $main-background-color;
        box-shadow: 0px 0px 30px $main-text-color;
    }
  
    100% {
        padding: 60px 30px 60px 30px;
        margin-left: 50px;
        background: transparent;
    }
}
@keyframes blinking-2 {
0% {
    padding: 60px 30px 60px 30px;
    margin-left: 50px;
}

50% {
    padding: 57px 27px 57px 27px;
    margin-left: 53px;
    box-shadow: 0px 0px 45px $main-text-color;
}

100% {
    padding: 60px 30px 60px 30px;
    margin-left: 50px;
}
}