{% load static %}  
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href=" https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="stylesheet" href="{% static 'core/css/hstyle.css' %}">
    <title>ДОКТОР ХОЛОДА</title>
</head>     
<body>
    <aside>
        <div class="page-logo"><img src="static/core/images/logo1.png" alt="ДОКТОР ХОЛОДА" ><br><br><br><br><br>
            <div class="fio-on-page"> {{user.fio}} </div>
        </div>
        <h3 class="line">____________</h3>
        <ul>
            <a href=""><li><i class="fa-solid fa-plus"></i> Добавить заказ</li></a>
            <a href="/admin"><li><i class="fa-regular fa-folder-gear"></i> Администрирование</li></a>
        </ul>
    </aside>
    <main>
        <div class="table-form">
            <h1 class="table-title">Таблица заказов</h1>
            {% if info %}
                {% for el in info %}
                    <div class="alert alert-warning">
                        <div class="query-string">
                            {{ el.name }} {{ el.address }}  
                            {{ el.employee }} {{ el.equipment }}
                            {{ el.breaking }} {{ el.status }}
                            {{ el.date }} {{ el.note }}
                        </div>
                    </div>
                {% endfor %}
            {% else %}
                <p>В данной таблице отсутствуют заказы</p>
            {% endif %}
        </div>
    </main>
</body>
</html>