<!--Navbar-->
  <div class="collapse navbar-collapse" id="navbarText">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="#">Вы вошли как {{user.username}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Выйти из аккаунта</a>
      </li>      

      {% else %}

      <li class="nav-item">
        <a class="nav-link" href="/login">Войти в аккаунт</a>
      </li>

      {% endif %}
    </ul>
  </div>
</nav>