@use "../../_colors.scss" as *;

.tech-domains {
    background-color: $main-background-color;
  
    position: relative;
    display: block;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;
    .title {
        margin-left: 5%;
        font-size: 30px;
        // background-image: $important-text-gradient-color;
        // color: transparent;
        // background-clip: text;
    }
    .title::after {
        z-index: -1;
        content: "";
        width: 150px;
        height: 150px;
        // background: white;
        background-image: $important-text-gradient-color;
        border-radius: 100px;
        filter: blur(70px);
        position: absolute;
        left: 100%;
        top: 250px;
        animation: move-back-shadow-block 45s infinite ease-in-out; 
    }
    .container {
        width: 100%;
        height: 100%;
        display: flex;
        transition: all 0.3s ease;
        .tech-domain-names-container {
            min-width: 30%;
            height: 100%;
            .tech-domain-names {
                width: 80%;
                margin-left: 20%;
            }
            
        }
        .tech-domain-names::after {
            z-index: -1;
            content: "";
            width: 10%;
            height: 100px;
            background-image: $important-text-gradient-color;
            border-radius: 100px;
            filter: blur(60px);
            position: absolute;
            left: -10%;
            bottom: 20%;
            animation: move-back-shadow-block2 60s infinite ease-in-out; 
        }
        input {
            // color: $main-text-color;
            width: auto;
            height: 40px;
            font-size: 20px;
            background: transparent;
            border: none;
            transition: all 0.3s ease;
            padding-left: 20px;
            border-left: 3px solid $main-background-color;
        }
        input:hover {
            outline: none;
            text-shadow: 0 0 5px $important-text-shadow-color;
            border-left: 2px solid $main-text-color;

            color: $important-text-color;
            border-left: 3px solid $important-text-color;
        }

        .tech-description-container {
            width: 70%;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;            
            transition: all 0.5s ease;
            padding-bottom: 10%;
            .tech-description {
                display: none;
                opacity: 0;
                width: 100%;
                height: 100%;
                transition: all 0.3s ease;
                .tech-name {
                    width: 100%;
                    height: 5%;
                    text-align: center;
                    padding-left: 10px;
                    h3 {
                        margin-right: 30%;
                        background-image: $important-text-gradient-color;
                        color: transparent;
                        background-clip: text;
                        font-size: 35px;
                        transition: all 0.3s ease;
                        margin-top: 0;
                    }
                }
                .options-container {
                    width: 100%;
                    margin-top: 20px;
                    display: flex;
                    flex-wrap: wrap;
                    gap: 80px 50px;
                    margin-top: 50px;
                    transition: all 0.3s ease;
                    .option {
                        margin: 0;
                        padding: 0;
                        width: 40%;
                        word-wrap: break-word;
                        justify-content: center;
                        border-bottom: 1px solid $gray-text-color;
                        transition: all 0.3s ease;
                        &:hover {
                            border-bottom: 1px solid $important-text-color;
                        }
                        .option-underline {
                            margin-top: 15px;
                        }
                        .option-btn {
                            justify-content: center;
                            align-items: center;
                            width: calc(100% - 10px);
                            height: 100%;
                            width: 100%;
                            transition: all 0.3s ease;
                            a {
                                display: flex;
                                color: $main-text-color;
                                text-overflow: ellipsis;
                                transition: all 0.3s ease;
                                img {
                                    // padding-right: 50px;
                                    transition: all 0.3s ease;
                                }
                                h4 {
                                    margin-left: 50px;
                                    width: auto;
                                    font-size: 22px;
                                    transition: all 0.3s ease;
                                    border-bottom: 1px solid transparent;
                                    margin-top: 0;
                                    margin-bottom: 0;
                                }
                            div {
                                overflow-y: hidden;
                            }
                            }
                            &:hover {
                                // text-shadow: 0 0 5px $important-text-shadow-color;
                                h4 {
                                    color: $important-text-color;
                                    
                                }
                                img {
                                    animation-name: turnOver;
                                    animation-duration: .44s;
                                    animation-iteration-count: initial;
                                    transform: rotate(360deg);
                                }
                            }
                        }
                    }
                    .big-option {
                        width: 80%;
                        a {
                            color: $main-text-color;
                            text-overflow: ellipsis;
                            transition: all 0.3s ease;
                        }
                        &:hover {
                            text-shadow: 0 0 5px $main-text-color;
                        }
                    }
                }
            }
            .descr-visible {
                display: block;
                opacity: 1;
            }
        }
    }
}

.tech-domain-names {
    border-left: 1px solid $gray-text-color;
    padding-top: 20px;
    padding-bottom: 20px;
}

.active-option-input {
    border-left: 3px solid $important-text-color;
    color: $important-text-color;
    text-shadow: 0 0 5px $important-text-color;
}

@keyframes turnOver {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes move-back-shadow-block {
    0% {
        transform: translateX(0%);
    }
    25% {
        transform: translateX(-100%) translatey(-50%);;
    }
    75% {
        transform: translateX(-150%) translateY(100%);
    }
    100% {
        transform: translateX(0%);
    }
}
@keyframes move-back-shadow-block2 {
    0% {
        transform: translate(0%, 0%);
    }
    25% {
        transform: translate(50%, 50%);
    }
    75% {
        transform: translate(200%, 20%);
    }
    100% {
        transform: translate(0%, 0%);
    }
}