body {
  background: #e3e5f1;
}
main {
  float: top;
}
aside {
  z-index: 2;
  position: fixed;
  border-bottom: 1px solid rgb(0, 0, 0);
  float: left;
  background: #dcccb3;
  width: 100%;
  height: 15%;
  color: black;
}
.page-logo {
  margin-top: 8px;
}
aside img {
  margin-left: 20px;
  width: 10%;
  float: left;
}
aside ul {
  float: right;
  margin-right: 2.2vw;
  padding-left: 10px;
}
aside ul li {
  float: right;
  z-index: 4;
  margin-left: 40px;
  margin-bottom: 10px;
  display: block;
  color: #3a4554;
  transition: transform 0.14s ease;
}
aside ul li:hover,
aside ul a:hover {
  color: rgb(142, 195, 242);
  text-decoration: none;
  transform: scale(1.05);
}
.fio-on-page {
  font-size: 20px;
  color: #fff;
  max-width: 17vw;
  margin-left: 80vw;
  margin-top: 5vh;
}
.table-title {
  text-align: center;
  float: top;
  font-size: 30px;
  position: fixed;
}
main .table-form {
  float: left;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  width: 100%;
}
.alert {
  background: #e3e5f1;
  border-top: 1px solid #4e4a4a;
  border-color: #232222;
  border-width: 1px;
  color: #000000;
  height: 50px;
}
.thead {
  height: 40px;
  position: fixed;
}
.butt {
  border: none;
  width: 12%;
  height: 25px;
  background: rgb(142, 195, 242);
  border-radius: 3px;
  color: #444444;
  font-weight: 500;
  border: 1px solid #444444;
  transition: transform .14s ease;
}
.btn {
  background: rgb(142, 195, 242);
  height: auto;
  width: auto;
  border: none;
  border: 1px solid #444444;
  transition: transform .14s ease;
}
.but1 {
  display: block;
  border: none;
  width: 6vw;
  height: 25px;
  background: rgb(142, 195, 242);
  border-radius: 3px;
  color: #444444;
  font-weight: 500;
  text-decoration: dashed;
  transition: transform 0.14s ease;
  border: 1px solid #444444;
}
.btn2 {
  display: block;
  border: none;
  width: 8xvw;
  height: 25px;
  background: rgb(142, 195, 242);
  border-radius: 3px;
  color: #444444;
  font-weight: 500;
  text-decoration: dashed;
  transition: transform 0.14s ease;
  border: 1px solid #444444;
}
.btn2:hover, .but1:hover, .butt:hover, .btn:hover {
  transform: scale(1.05);
  background: rgb(52, 52, 52);
  color: rgb(142, 195, 242);
  text-decoration: none;
}
.redacte,
.redactd {
  display: block;
  color: #3a3838;
  transition: transform 0.14s ease;
  text-decoration: dashed;
}
.redacte:hover {
  color: rgb(142, 195, 242);
  text-decoration: none;
  transform: scale(1.05);
}
.redactd:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
  transform: scale(1.05);
}
input {
  width: 12%;
  background: #e3e5f1;
  color: black;
  font-weight: 500;
}
table {
  margin-top: 14vh;
  width: 100%;
  max-width: 100%;
  z-index: 1;
  padding-bottom: 100px;
}
th {
  background: #dcccb3;
  color: #fff;
}
.num {width: 3%;} .name {width: 10%;} .address1 {width: 13%;}
.employee1 {width: 10%;} .master1 {width: 10%;} .equipment1 {width: 15%;}
.breaking1 {width: 10%} .status1 {width: 8%;}
.date1 {width: 7%;} .note1 {width: 7%} .clean1 {width: 5%;}

.title-add {
  z-index: 3;
  opacity: 1;
  margin-top: 2%;
  position: fixed;
  width: 61.3%;
  margin-left: 15%;
  float: top;
}
/*
.popup {
  z-index: 5;
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.popup:target {
  opacity: 1;
  visibility: visible;
}
.popup_body {
  min-height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 65vw;
  padding: 20px 10px 20px 10px;
}
.popup_content {
  background-color: #2c2c2c;
  max-width: 500px;
  padding: 30px;
  border-radius: 20px;
  position: relative;
}
.popup_title {
  font-size: 26px;
  color: #fff;
  padding-bottom: 10px;
}
.popup_close {
  position: absolute;
  right: 10px;
  top: 10px;
  font-size: 20px;
  color: rgb(142, 195, 242);
  text-decoration: none;
}
*/
.spisok {
  width: 12vw;
  max-width: 12vw;
}
.search_address {
  width: 13vw;
}
.search_master {
  width: 13vw;
}
