*{
    padding: 5px;
    margin: 5px;
    background: #181818;
    color: #fff
}
input {
    background: #fff;
    color: #181818;
}
.butt{
    width: 100px;
    height: 30px;
    background: rgb(142, 195, 242);
    border-radius: 7px;
    color: #181818;
    font-weight: 500;
}