*{
    margin: 0;
    padding: 0;
}
body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #181818;
    width: 15vw;
    padding: 0.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img {
    width: 140px;
    float: left;
}
aside ul {
    margin-top: 20px;
    list-style: none;
    float: left;
}
aside ul li {
    margin-top: 10px;
    display: block;
    color: #fff;
    transition: transform 0.14s ease;
}
aside ul li:hover, aside ul a:hover {
    color: rgb(111, 184, 247);
    text-decoration: none;
    transform: scale(1.05);
}
.fio-on-page {
    font-size: 24px;
    color: #fff;
}
.table-title {
    float: top;
    font-size: 30px;
    
}
main .table-form {
    float: left;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    width: 75%;
}