*{
    margin: 0;
    padding: 0;
}
body {
    background: #2c2c2c;
}
aside {
    float: left;
    background: #181818;
    width: 15vw;
    padding: 0.5%;
    height: 100vh;
    color: #fff;
    border-right: 5px solid #4d4d4d;
}
aside img {
    width: 140px;
    float: left;
}
aside ul {
    margin-top: 20px;
    list-style: none;
    float: left;
}
aside ul li {
    margin-top: 73vh;
    display: block;
    color: #fff;
    transition: transform 0.14s ease;
}
aside ul li:hover, aside ul a:hover {
    color: rgb(142, 195, 242);
    text-decoration: none;
    transform: scale(1.05);
}
.fio-on-page {
    font-size: 24px;
    color: #fff;
}
.table-title {
    float: top;
    font-size: 30px;
    
}
main .table-form {
    float: left;
    margin-left: 10px;
    color: #fff;
    margin-top: 10px;
    text-align: center;
    width: 80%;
}
.alert {
    background: #181818;
    border-color: #fff;
    color: #fff;
}
.name-col {
    padding-left: 10px;
}
.butt{
    width: 100px;
    height: 30px;
    background: rgb(142, 195, 242);
    border-radius: 7px;
    color: #181818;
    font-weight: 500;
}
.redacte, .redactd {
    padding-right: 5px;
    display: block; 
    color: #fff;
    transition: transform 0.14s ease;
    text-decoration: dashed;
}
.redacte:hover {
    color: rgb(142, 195, 242);
    text-decoration: none;
    transform: scale(1.05);
}
.redactd:hover {
    color: rgb(255, 0, 0);
    text-decoration: none;
    transform: scale(1.05);
}
input {
    width: 133px;
}
table {
    width: 80vw;
    max-width: 80vw;
}