* {
  margin: 0;
  padding: 0;
}
html {
  border-left: 3px solid rgb(142, 195, 242);
}
body {
  background: #2c2c2c;
}
main {
  float: top;
}
aside {
  z-index: 2;
  position: fixed;
  float: left;
  background: #2c2c2c;
  width: 100vw;
  padding: 0.5%;
  height: 15vh;
  color: #fff;
  border-bottom: 5px solid rgb(142, 195, 242);
}
aside img {
  margin-left: 20px;
  width: 140px;
  float: left;
}
aside ul {
  float: right;
  margin-right: 2.2vw;
  padding-left: 10px;
}
aside ul li {
  float: right;
  z-index: 4;
  margin-left: 40px;
  margin-bottom: 10px;
  display: block;
  color: #fff;
  transition: transform 0.14s ease;
}
aside ul li:hover,
aside ul a:hover {
  color: rgb(142, 195, 242);
  text-decoration: none;
  transform: scale(1.05);
}
.fio-on-page {
  font-size: 24px;
  color: #fff;
  width: 500px;
}
.table-title {
  text-align: center;
  float: top;
  font-size: 30px;
}
main .table-form {
  float: left;
  margin-left: 10px;
  color: #fff;
  margin-top: 10px;
  text-align: center;
  width: 98%;
}
.alert {
  background: #181818;
  border-color: #fff;
  color: #fff;
  height: 50px;
}
.thead {
  height: 40px;
}
.name-col {
  padding-left: 10px;
}
.butt {
  border: none;
  width: 150px;
  height: 25px;
  background: rgb(142, 195, 242);
  border-radius: 3px;
  color: #181818;
  font-weight: 500;
}
.butt:hover {
  transform: scale(1.05);
}
.redacte,
.redactd {
  padding-right: 5px;
  display: block;
  color: #fff;
  transition: transform 0.14s ease;
  text-decoration: dashed;
}
.redacte:hover {
  color: rgb(142, 195, 242);
  text-decoration: none;
  transform: scale(1.05);
}
.redactd:hover {
  color: rgb(255, 0, 0);
  text-decoration: none;
  transform: scale(1.05);
}
input {
  width: 12vw;
  background: #fff;
  color: black;
  font-weight: 500;
}
table {
  margin-top: 15vh;
  width: 98vw;
  max-width: 98vw;
  z-index: 1;
  padding-bottom: 100px;
}
td {
  max-width: 120px;
}
.red {
  margin-top: 60px;
  margin-left: 10px;
}
.red-inputs {
  margin-left: 20px;
}
.title-add {
  z-index: 3;
  margin-top: 20px;
  position: fixed;
  background: #2c2c2c;
  width: 60vw;
  margin-left: 20vw;
  float: top;
}
.btn {
  background: rgb(142, 195, 242);
  height: auto;
  width: auto;
  border: none;
}
.btn:hover {
  background: rgb(223, 10, 10);
}
.spisok {
  max-width: 12vw;
  width: 12vw;
}
