@use "../../_colors.scss" as *;
@use "../../_dimensions.scss" as *;

footer {
    .lower {
        width: 100vw;
        height: $header-height;
        color: $main-text-color;
        background-color: $main-background-color;
        // box-shadow: 0 0 $header-box-shadow-size $main-text-color;
        display: flex;
        justify-content: space-between;
        .left-part {
            width:20%;
            margin-left: 5%;
            display: flex;
            justify-content: left;
            align-items: center;
            .text {
                margin-left: $header-logo-letter-spacing;
                font-size: calc($font2h / 4);
                letter-spacing: calc($header-logo-letter-spacing / 3);
                font-weight: bold;
                text-align: center;
                .copy-year {
                    margin-right: calc($font1h / 2);
                    // font-size: calc($font1h / 2);
                }
            }
        }
        .middle-part {
            width: 50%;
            display: flex;
            justify-content: center;
            .links {
                display: flex;
                width: 50%;
                align-items: center;
                justify-content: space-around;
                .twitter, .linkedin, .telegram, .reddit {
                    svg {
                        cursor: pointer;
                        width: calc($font1h);
                        height: calc($font1h);
                        transition: all 0.3s ease;
                        // box-shadow: 0 0 $font1h $important-text-color;
                        color: $main-text-color;
                        padding: 1.5dvh;
                        padding: 1dvh;
                        border-radius: 50%;
                        &:hover {
                            // color: $important-text-color2;
                            // transform: scale(1.1);
                            box-shadow: 0 0 calc($font1h / 4) $main-text-color, inset 0 0 calc($font1h / 2) $main-text-color;
                        }
                    }
                }
                
            }
        }
        .right-part {
            width:20%;
            margin-right: 5%;
            display: flex;
            justify-content: right;
            align-items: center;
            .text {
                font-size: calc($font2h / 2);
                letter-spacing: $header-logo-letter-spacing;
                font-weight: bold;
            }
        }
    }
}

