@use "../../_colors.scss" as *;
@use "../../_dimensions.scss" as *;

.contact-us-container {
    box-shadow: inset 0 0 15dvh black, inset 0 0 22.5dvh $main-background-color;

    padding-top: 10dvh;
    padding-bottom: 5dvh;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .contact-us-form {
        width: 60%;
        padding-left: 5%;
        // height: 100%;
        justify-content: center;
        align-items: center;
        font-size: calc($font1h * 1.5);
        .contact-us-form-title {
            font-size: calc($font2h / 2);
            margin-bottom: $font1h;
            width: calc(100% - $font2 * 1.2);
        }
        .book-a-call {
            color: $important-text-color;
            text-decoration: underline;
            text-shadow: 0 0 5px $important-text-color;
            transition: all 0.3s ease;
            &:hover {
                color: $main-text-color;
                text-shadow: 0 0 5px $main-text-color;
            }
        }
        .contact-us-form-content {
            width: 100%;
            textarea {
                padding: $font1-del-2;
                resize: vertical;
                font-family: 'Source-Code-Pro', sans-serif;
                margin-top: calc($font2h / 2);
                font-size: calc($font1h / 1.2);
                background-color: $main-background-color;
                // background-color: $transparent-color;
                border: 1px solid $transparent-color;
                color: $important-text-color;
                transition: all 0.3s ease;
                width: 52.8vw;
                min-height: $font1h * 4;
                border-bottom: 1px solid $important-text-color;
                box-shadow: 0 0 1dvh black;
                &:hover {
                    border: 1px solid $important-text-color;
                    color: $important-text-color;
                }
                &:focus {
                    outline: none;
                    box-shadow: 0 0 10px $important-text-color;

                    border-bottom: 1px solid $important-text-color2;
                }
                &::placeholder {
                    color: $important-text-color;
                }
            }
            .inputs {
                display: flex;
                margin-top: 2 * $font1h;
                flex-wrap: wrap; 
                gap: $font1h 2 * $font1h;
                gap: $font1h 5vw;

                width: 100%;
                .form-input {
                    input {
                        font-family: 'Source-Code-Pro', sans-serif;
                        width: 15 * $font1;
                        width: 23vw;

                        background-color: $main-background-color;
                        // background-color: $transparent-color;
                        border: 1px solid $main-background-color;
                        padding: calc($font1 / 2);
                        color: $important-text-color;
                        transition: all 0.3s ease;
                        font-size: calc($font1h / 1.2);
                        border: 1px solid transparent;
                        border-bottom: 1px solid $important-text-color;
                        box-shadow: 0 0 3dvh black;
                        &:hover {
                            border: 1px solid $important-text-color;
                            color: $important-text-color;
                        }
                        &::placeholder {
                            color: $important-text-color;
                        }
                        &:focus {
                            outline: none;
                            box-shadow: 0 0 10px $important-text-color;

                            border-bottom: 1px solid $important-text-color2;
                        }
                    }
                }
            }
            .btn-container {
                display: flex;
                align-items: center;
                width: 100%;
                margin-top: $font1h;
                span {
                    font-size: 2dvh;
                }
                button {
                    margin-right: 3.5 * $font1;
                    margin-left: $font1;
                    font-size: $font1h;
                    border-radius: 1px;
                    border: 1px solid $main-text-color; 
                    transition: all 0.2s ease;
                    background-color: $main-background-color;
                    color: $main-text-color;
                }
            }
            button:hover {
                // color: $header-background-color;
                color: black;
                background-color: $main-text-color;
                box-shadow: 0 0 15px $main-text-color;
            }
        }
    }
    .what-next-container {
        width: 30%;
        margin-right: 5%;
        height: 100%;
        justify-content: center;
        align-items: center;
        position: relative;

        .what-next-card {
            position: relative;
            width: 77%;
            position: absolute;
            top: 15dvh;
            right: 0;

            font-size: calc($font1h / 1.3);
            background-color: $main-background-color;
            padding: $font1h;
            border: 1px solid $main-text-color;
            box-shadow: 0 0 10px $main-text-color;
            .title {
                h2 {
                    margin-top: 0;
                }
            }
            ul {
                padding-left: $font1;
                li {
                    padding: calc($font1h / 2);
                }
            }
            &::before {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border: 1px solid $important-text-color;
                box-shadow: 0 0 10px $important-text-color;
                background-color: $main-background-color;
                top: calc($font1h / 2);
                left: - calc($font1h / 2);
                z-index: -2;
            }
            &::after {
                content: '';
                display: block;
                position: absolute;
                width: 100%;
                height: 100%;
                border: 1px solid $important-text-color2;
                box-shadow: 0 0 10px $important-text-color2;
                top: $font1h;
                left: -$font1h;
                z-index: -3;
            }
        }
    }
}
// ::-webkit-resizer {
//     background-image: url("./images/arrow-down-up.svg") 1;
//     // border: 2px solid black;
//     // background: red;
//     // box-shadow: 0 0 5px 5px blue;
//     // outline: 2px solid yellow;
//   }
























// @use "../../_colors.scss" as *;
// @use "../../_dimensions.scss" as *;

// .contact-us-container {
//     box-shadow: inset 0 0 15dvh black, inset 0 0 22.5dvh $main-background-color;

//     padding-top: 15dvh;
//     padding-bottom: 20dvh;
//     width: 100%;
//     height: 100%;
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     .contact-us-form {
//         width: 55%;
//         margin-left: 5%;
//         margin-right: 5%;
//         height: 100%;
//         justify-content: center;
//         align-items: center;
//         font-size: 30px;
//         .contact-us-form-title {
//             font-size: calc($font2h / 2);
//             margin-bottom: $font1h;
//         }
//         .book-a-call {
//             color: $important-text-color;
//             text-decoration: underline;
//             text-shadow: 0 0 5px $important-text-color;
//             transition: all 0.3s ease;
//             &:hover {
//                 color: $main-text-color;
//                 text-shadow: 0 0 5px $main-text-color;
//             }
//         }
//         .contact-us-form-content {
//             width: 100%;
//             height: 100%;
//             textarea {
//                 padding: 15px;
//                 resize: vertical;
//                 font-family: 'Source-Code-Pro', sans-serif;
//                 margin-top: 30px;
//                 font-size: 18px;
//                 background-color: $main-background-color;
//                 border: 1px solid $main-background-color;
//                 color: $important-text-color;
//                 transition: all 0.3s ease;
//                 max-width: calc(100% - 60px);
//                 min-width: calc(100% - 60px);
//                 max-height: 300px;
//                 min-height: 100px;
//                 border-bottom: 1px solid $important-text-color;

//                 &:hover {
//                     border: 1px solid $important-text-color;
//                     color: $important-text-color;
//                 }
//                 &:focus {
//                     outline: none;
//                     box-shadow: 0 0 10px $important-text-color;

//                     border-bottom: 1px solid $important-text-color2;
//                 }
//                 &::placeholder {
//                     color: $important-text-color;
//                 }
//             }
//             .inputs {
//                 display: flex;
//                 margin-top: 50px;
//                 flex-wrap: wrap; 
//                 gap: 30px 50px;
//                 width: 100%;
//                 .form-input {
//                     input {
//                         font-family: 'Source-Code-Pro', sans-serif;
//                         width: 310px;
//                         background-color: $main-background-color;
//                         border: 1px solid $main-background-color;
//                         border-bottom: 1px solid $important-text-color;
//                         padding: 15px;
//                         color: $important-text-color;
//                         transition: all 0.3s ease;
//                         font-size: 18px;
//                         // border-radius: 9px;
//                         &:hover {
//                             border: 1px solid $important-text-color;
//                             color: $important-text-color;
//                         }
//                         &::placeholder {
//                             color: $important-text-color;
//                         }
//                         &:focus {
//                             outline: none;
//                             box-shadow: 0 0 10px $important-text-color;

//                             border-bottom: 1px solid $important-text-color2;
//                         }
//                     }
//                 }
//             }
//             .btn-container {
//                 display: flex;
//                 align-items: center;
//                 width: 100%;
//                 margin-top: 30px;
//                 span {
//                     font-size: 16px;
//                 }
//                 button {
//                     margin-right: 60px;
//                     font-size: 24px;
//                     border-radius: 1px;
//                     border: 1px solid $main-text-color; 
//                     transition: all 0.2s ease;
//                     background-color: $main-background-color;
//                     color: $main-text-color;
//                 }
//             }
//             button:hover {
//                 // color: $header-background-color;
//                 color: black;
//                 background-color: $main-text-color;
//                 box-shadow: 0 0 15px $main-text-color;
//             }
//         }
//     }
//     .what-next-container {
//         width: 35%;
//         height: 100%;
//         justify-content: center;
//         align-items: center;
//         position: relative;

//         .what-next-card {
//             position: relative;
//             // width: 80%;
            
            
//             width: 77%;
//             position: absolute;
//             top: -30vh;
//             left: 0;

//             font-size: 18px;
//             background-color: $main-background-color;
//             padding: 20px;
//             border: 1px solid $main-text-color;
//             box-shadow: 0 0 10px $main-text-color;
//             .title {
//                 h2 {
//                     margin-top: 0;
//                 }
//             }
//             ul {
//                 li {
//                     padding: 10px;
//                 }
//             }
//             &::before {
//                 content: '';
//                 display: block;
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 border: 1px solid $important-text-color;
//                 box-shadow: 0 0 10px $important-text-color;
//                 background-color: $main-background-color;
//                 top: 10px;
//                 left: -10px;
//                 z-index: -2;
//             }
//             &::after {
//                 content: '';
//                 display: block;
//                 position: absolute;
//                 width: 100%;
//                 height: 100%;
//                 border: 1px solid $important-text-color2;
//                 box-shadow: 0 0 10px $important-text-color2;
//                 top: 20px;
//                 left: -20px;
//                 z-index: -3;
//             }
//         }
//     }
// }